body {
    font-family: 'Cairo', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(135deg, #b4b9bd, #386074); /* تدرج لوني */
    color: white;
    padding: 20px;
    text-align: right;
}
h1 {
    animation: fadeInDown 2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* ظل للنص */
}
p {
    animation: fadeInUp 2s ease-in-out;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: right;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    animation: pulse 1.5s infinite;
}
nav ul li a:hover {
    background-color: #111;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
main {
    padding: 20px;
}
.inline-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.inline-elements a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    line-height: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#services {
    background-color: #0a0a0a;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#services h2 {
    color: #4CAF50;
}
#services ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#services ul li {
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}
#services button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}
#services button:hover {
    background-color: #45a049;
}
.info {
    display: none;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info ul li {
    display: block; /* عرض كل عنصر على سطر منفصل */
    margin-bottom: 10px; /* إضافة مسافة بين العناصر */
}
.small-button {
    font-size: 0.8em;
    margin-left: 10px;
    background-color: rgb(6, 14, 23);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.small-button:hover {
    background-color: rgb(6, 14, 23);
}
.like-dislike {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.like-dislike i {
    cursor: pointer;
    margin-right: 15px;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.like-dislike i:hover {
    transform: scale(1.1);
}

.like-dislike .fa-thumbs-up {
    color: green;
    background-color: #e0ffe0;
}

.like-dislike .fa-thumbs-down {
    color: red;
    background-color: #ffe0e0;
}

/* ضبط مسافة النص */
.like-dislike span {
    font-size: 16px;
    margin-left: 10px; /* المسافة بين الأيقونة والعدد */
}

.like-dislike span.like-count {
    color: green;
}

.like-dislike span.dislike-count {
    color: red;
}

.like-dislike i[style*="pointer-events: none;"] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* لجعل الأيقونة مجسمة */
.map-icon {
    color: #007bff; /* يمكنك تعديل اللون حسب الرغبة */
    font-size: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.map-icon:hover {
    transform: scale(1.2); /* تكبير الأيقونة عند التمرير */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل ليظهر تأثير مجسم */
    color: #0056b3; /* تغيير اللون عند التمرير لإضفاء لمسة جمالية */
}









body {
    font-family: 'Cairo', sans-serif;
    background-color: #000000; /* اللون الأسود */
    margin: 0;
    padding: 0;
    direction: rtl; /* إضافة هذه الخاصية لمحاذاة النصوص إلى اليمين */
}

header {
    position: relative;
    text-align: right;
    padding: 20px;
}

/* إضافة الحركة للنص */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header h1 {
    font-size: 28px;
    color: #f8f52f; /* لون العنوان */
    animation: slideIn 4s ease-in-out; /* تطبيق الحركة على العنوان */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* ظل للنص */
}

p {
    text-align: right;
    margin: 20px;
}

.top-left {
    position: absolute;
    top: 5;
    left: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: left; /* لضمان أن العناصر تظهر في المنتصف */
}

nav ul li {
    margin-left: 20px; /* إضافة مسافة بين العناصر */
}

nav ul li a {
    display: block;
    color: rgb(157, 197, 250);
    text-align: center;
    padding: 5px 30px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* إضافة تأثير الانتقال */
}

nav ul li a:hover {
    transform: scale(1.1); /* تكبير العنصر عند التمرير */
}

main {
    padding: 20px;
    text-align: right; /* إضافة هذه الخاصية لمحاذاة النصوص إلى اليمين */
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative; /* للسماح للأزرار بالتحرك فوق الصور */
    direction: rtl; /* إضافة هذه الخاصية لضمان أن الأزرار تظهر على اليمين */
}

.buttons {
    flex: 0 0 30%; /* تأخذ 30% من العرض */
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 1; /* تأكيد ترتيب الأزرار */
    z-index: 10; /* لضمان ظهور الأزرار فوق الصور */
}

.buttons button {
    
    color: #f8f52f; /* لون النص */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* إضافة تأثير الانتقال */
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: 'Cairo', sans-serif; /* إضافة هذه الخاصية لضمان استخدام نفس الخط */
}

.buttons button:hover {
    background-color: rgba(178, 243, 58, 0.7); /* تغيير درجة الشفافية عند التمرير */
    transform: scale(1.05); /* تكبير الزر عند التمرير */
}

.images {
    flex: 0 0 70%; /* تأخذ 70% من العرض */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    order: 2; /* تأكيد ترتيب الصور */
    margin-top: 20px; /* لإعطاء مساحة للأزرار */
}

.image {
    width: calc(50% - 5px); /* عرض كل صورة يأخذ نصف المساحة المتاحة */
    height: auto;
    max-height: 388px;
    object-fit: cover;
}

.info {
    flex: 1 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right; /* إضافة هذه الخاصية لمحاذاة النصوص إلى اليمين */
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info ul li {
    display: block; /* عرض كل عنصر على سطر منفصل */
    margin-bottom: 10px; /* إضافة مسافة بين العناصر */
    position: relative; /* لضمان أن العلامة المميزة تظهر بجوار النص */
    padding-right: 20px; /* إضافة مسافة لظهور العلامة المميزة */
}

.info ul li::before {
    content: "★"; /* يمكنك تغيير هذا الرمز إلى أي رمز آخر تفضله */
    position: absolute;
    right: 0; /* لضمان أن العلامة المميزة تظهر على يمين النص */
    color: #4CAF50; /* لون العلامة المميزة */
}

.info ul li a {
    color: #4CAF50; /* لون النص */
    text-decoration: none; /* إزالة التسطير */
    transition: color 0.3s; /* إضافة تأثير الانتقال */
}

.info ul li a:hover {
    color: #45a049; /* تغيير لون النص عند التمرير */
}

/* إعدادات للشاشات الصغيرة */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column; /* تغيير الاتجاه إلى عمودي */
        margin-top: 0; /* إزالة أي فراغ علوي */
    }

    #services h2 {
        color: #f8fc05 !important;
    }
    
    .images {
        margin-top: 0.50px; /* تقليل المسافة العلوية لإعطاء مساحة للأزرار */
        position: relative; /* لجعل الأزرار تتداخل بشكل صحيح */
    }

    .buttons {
        position: absolute; /* تجعل الأزرار فوق الصور */
        top: 45%; /* ضبط المسافة من الأعلى لتكون في منتصف الصورة */
        left: 50%; /* ضبط المسافة من اليسار لتكون في منتصف الصورة */
        transform: translate(-50%, -50%); /* لضبط الأزرار في منتصف الحاوية */
        width: 100%; /* عرض الأزرار يكون بنفس عرض الصور */
        padding: 2px; /* تقليل الحواف للأزرار */
        border-radius: 5px; /* زوايا دائرية */
        display: flex; /* جعل الأزرار تظهر بشكل أفقي */
        flex-direction: row; /* عرض الأزرار أفقيًا */
        gap: 0.1px; /* تقليل المسافة بين الأزرار */
        z-index: 10; /* ضمان بقاء الأزرار فوق العناصر الأخرى */
    }

    .buttons button {
        background-color: rgba(5, 36, 46, 0.7) !important; /* خلفية شفافة أكثر عند التمرير */
        color: #f8fc05 !important; /* لون النص أصفر */
        padding: 0.20px 1px; /* تقليل حجم الأزرار */
        font-size: 9.5px; /* تقليل حجم النص داخل الأزرار */
        border: 0.3px solid #4CAF50; /* تقليل حجم الحدود */
        border-radius: 3px; /* زوايا دائرية */
        cursor: pointer; /* تغيير شكل المؤشر عند المرور فوق الزر */
        transition: background-color 0.3s, transform 0.3s; /* إضافة تأثير الانتقال */
    }

    .buttons button:hover {
        background-color: rgba(22, 23, 24, 0.9) !important; /* خلفية شفافة أكثر عند التمرير */
        transform: scale(1.05); /* تكبير الزر عند التمرير */
    }

    .info {
        margin-top: 20px; /* تقليل المسافة العلوية لعدم التداخل مع الأزرار */
        z-index: 0; /* التأكد من أن المعلومات تحت الأزرار */
    }
}
